<div class="post">
<% company_decorator = CompanyDecorator.new(company)%>
	<h4><%= company.name %> || 
			No. of operations:	<%= company_decorator.number_of_operations %> ||
			Average Amount : <%= company_decorator.average_of_amount %> ||
			Highest of Month: <%= company_decorator.highest_of_month%> ||
			Accepted Operations: <%= company_decorator.accepted_operations%>
	</h4>
	<%= link_to "CSV", "/operation_csv.csv?company_id=#{company.id}" %>

	<ul>
		<% company.operations.each do |operation| %>
			<li><%= operation.id%> | <%= operation.invoice_num%> | <%= operation.reporter%> | <%= operation.status%> 
				
					<b>Categories: </b><%= operation.kind%>
				
			 </li>

		<%end%>
	</ul>	
	</div>

