<div id="posts">


	<%= form_for @operations do |f| %>
	 	 

	  <%= f.file_field :file, :class => "inputfile ", :name => "operation[file]", :id =>"file-1", :required => 'required' %>

	  <%= button_tag(type: 'submit', class: "btn btn-info") do %>
	  		 Upload
	  <% end %>
	<% end -%>  


	<%= form_tag( '/companies', :method => :get ) do %>
		<%= text_field_tag :filter, nil, placeholder: "id, reporter, status, invoice_num, kind" %>
		<%= submit_tag "Filter"%>
	<% end %>	

	<div class="page">
	  <%= render @companies %>
	</div>
</div>
<%= paginate @companies %>